{% extends 'base.html' %}
{% load static %}

{% block content %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top p-3 mb-2 bg-danger text-white">
  <a class="navbar-brand" href="#">LawDirect Booking Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'main:index' %}">Home</a>
        </li>
      </ul>
    </div>
</nav>

<div class="container-fluid" style="padding-top:96px;">
  <form>
    <div class="form-group">
      <label for="exampleInputName">Name</label>
      <input type="name" class="form-control form-control-sm" style="width:256px;" id="exampleInputName1" aria-describedby="nameHelp" placeholder="Enter name">
      <small id="emailHelp" class="form-text text-muted">We'll never share your name with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputcontact">Contact number</label>
      <input type="contact" class="form-control form-control-sm" style="width:256px;" id="exampleInputcontact" placeholder="Contact number">
    </div>
    <button type="submit" class="btn btn-primary btn-danger">Submit</button>
  </form>
</div>
{% endblock %}
