{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid" style="text-align: center; padding-top: 15px">
	<h1>What problem are you facing?</h1>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col" style="height:200px">
			<div class="classWithPad" style="margin:12px; padding-top:12px; padding-bottom:12px">
				<button type="button" class="btn btn-outline-danger" style="width:100%; height:80%;">Neighbour Dispute</button>
			</div>
		</div>
		<div class="col" style="height:200px">
			<div class="classWithPad" style="margin:12px; padding-top:12px; padding-bottom:12px">
				<button type="button" class="btn btn-outline-danger" style="width:100%; height:80%;">Family Abuse</button>
			</div>
		</div>
		<div class="col" style="height:200px">
			<div class="classWithPad" style="margin:12px; padding-top:12px; padding-bottom:12px">
				<button type="button" class="btn btn-outline-danger" style="width:100%; height:80%;">Divorce</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col" style="height:200px">
			<div class="classWithPad" style="margin:12px; padding-top:12px; padding-bottom:12px">
				<button type="button" class="btn btn-outline-danger" style="width:100%; height:80%;">Salary-related Dispute</button>
			</div>
		</div>
		<div class="col" style="height:200px">
			<div class="classWithPad" style="margin:12px; padding-top:12px; padding-bottom:12px">
				<button type="button" class="btn btn-outline-danger" style="width:100%; height:80%;">Harassment/Stalking (by non-family member)</button>
			</div>
		</div>
		<div class="col" style="height:200px">
			<div class="classWithPad" style="margin:12px; padding-top:12px; padding-bottom:12px">
				<button type="button" class="btn btn-outline-danger" style="width:100%; height:80%;">Breach of PPO/PO/GPO</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}
